@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .range-slider {
    @apply accent-primary-950;
  }
  
  .range-slider::-webkit-slider-thumb {
    @apply w-4 h-4 bg-primary-950 rounded-full cursor-pointer appearance-none;
    -webkit-appearance: none;
  }
  
  .range-slider::-moz-range-thumb {
    @apply w-4 h-4 bg-primary-950 rounded-full cursor-pointer border-none;
  }
  
  .range-slider:focus {
    @apply outline-none;
  }
  
  .range-slider:focus::-webkit-slider-thumb {
    @apply ring-2 ring-primary-200;
  }
  
  .range-slider:focus::-moz-range-thumb {
    @apply ring-2 ring-primary-200;
  }
}